.venv
.git
.pytest_cache
.ruff_cache
__pycache__
*.pyc
*.pyo
*.pyd
.env
.ngrok.env
logs/
generated_media/
har_and_cookies/
htmlcov/
.coverage

# Frontend
frontend/node_modules
frontend/dist
frontend/.vite
